.image-div {
    width: 100%;
    height: 450px;
    /* display: block; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-user-drag: None;
    user-select: none;
    /* height: auto; */
}

.top {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 30px;
    user-select: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 55px;
}

.bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    user-select: none;
    /* transform: translate(-50%, 500%); */
}

.mainBody-title {
    padding-top: 10px;
    margin: 0px;
    text-decoration: none;
}

.buttonBlack {
    background-color: black;
}

.buttonWhite {
    background-color: white;
}