.image-div {
    width: 100%;
    height: 450px;
    /* display: block; */
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-user-drag: None;
    user-select: none;
    /* height: auto; */
}

.top {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 30px;
    user-select: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 55px;
}

.bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    user-select: none;
    /* transform: translate(-50%, 500%); */
}

.mainBody-title {
    padding-top: 10px;
    margin: 0px;
    text-decoration: none;
}

.buttonBlack {
    background-color: black;
}

.buttonWhite {
    background-color: white;
}

.sliderContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 50px;
    margin-top: 10px;
}

.slider {
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    /* display: None; */
    appearance: none;
    opacity: 0;
}

.slider-label-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-label {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    border-radius: 16px;
    height: 40px;
    font-size: 27px;
    text-align: center;
    border: 1px solid #ccc;
    width: 225px;
    user-select: none;
    background-color: #1d2028;
}

.slider-label-selected {
    border-radius: 16px;
    height: 40px;
    font-size: 27px;
    text-align: center;
    border: 1px solid #ccc;
    width: 225px;
    user-select: none;
    background-color: #b1b0b0;
}