.image-div {
    width: 100%;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-user-drag: None;
    user-select: none;
    /* height: auto; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    font-size: 50px;
}

.mainBody-title {
    padding-top: 10px;
    margin: 0px;
    text-decoration: none;
}