.button {
    font-size: 15px;
    align-items: center;
    background-color: #eaeaea;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
    line-height: 1.25;
    position: relative;
    width: auto;
}

.button:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button:hover {
    transform: translateY(-1px);
}

.title {
    margin: 0px;
    text-decoration: underline;
    font-size: 30px;
}

.button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.datepicker {
    font-size: 18px;
    width: auto;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Setting-heading {
    margin: 0px;
    font-size: 28px;
}

table {
    font-size: 25px;
}

td {
    padding-right: 15px;
    font-size: 20px;
    padding-bottom: 5px;
}

#fileUpload {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ad9191;
    box-sizing: border-box;
    cursor: pointer;
}

#fileUpload::file-selector-button {
    padding: 5px 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fileUpload::file-display {
    display: inline-block;
    margin-left: 5px;
}

/* td.centered-column {
    text-align: center;
    left: 50%;
} */